/*Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utils */

.p-15 {
    padding: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* header */

header {
    background-color: black;
}

/* main */

ul {
    list-style-position: inside;
    padding-left: 15px;
}

body {
    background-image: url(../img/graybg.jpg);
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    max-width: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/card.jpg);
    background-size: cover;
    color: white;
    margin: 10px;
    padding: 10px;
}

.hidden {
    display: none;
}